<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  
    <add key="DocuSignBasePath" value="" />
    <add key="DocuSignUserEmail" value="shyam.cb@claysys.com"/>
    <add key="DocuSignPassword" value=""/>
    <add key="DocuSignIntegratorKey" value="82fc3ad6-2fc1-43cd-b398-3a1025c1174c"/>
    <add key="DownloadFilePath" value=""/>
    <add key ="Docu1FilePath" value="D:\Visual Studio 2015\Projects\WindowsServiceLender\WindowsServiceLender\Documents\form1.docx"/>
    <add key ="Docu2FilePath" value="D:\Visual Studio 2015\Projects\WindowsServiceLender\WindowsServiceLender\Documents\form2.docx"/>
    <add key ="Reci1Email" value="shyamcb07@gmail.com"/>
    <add key="Reci2Email" value="shyam.cb@claysys.com"/>
    <add key="filetemplate" value="C:\Users\aduser\Documents\Visual Studio 2015\Projects\MyDocuWebService\DocuSignWCFService\Docs\Lender Application\lender template.docx" />
  </appSettings>
   <connectionStrings>
    <add name="shyconstr" connectionString="Data Source=SYS73;Initial Catalog=ShyDatabase;User ID=sa;Password=sa123$"/>
     
  </connectionStrings>
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>